body {
    margin: 0;
}

.navbar{
    display: flex;
    background-color:floralwhite;
}

.navbar_logo {
    width: 75px;
    height: 75px;
    object-fit: cover; /* 이미지의 비율 유지하면서 틀 내부에 가득 채움 */ 
    padding-left: 200px;
    padding-top: 20px;
}

.navbar_menu {
    display: flex;
    flex-direction: column;
}

a{
    text-decoration-line: none;
    color: rgb(61, 61, 61);
}

.navbar_menu1 {
    padding-left: 450px;

}

.navbar_menu1 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;

}

.navbar_menu1 li{
    padding: 5px;
    font-size: 13px;

}

#line{
    padding-right: 22px;
    border-right: 1.5px solid rgb(214, 214, 214) ;
    width: 10px;
    height: 0.5px;
}

.navbar_menu2 {
    align-self: center;
}

.navbar_menu2 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    padding-left: 280px;
 
}

.navbar_menu2 li{
    padding: 20px;
    font-size: 14px;
    color:gray;
    margin-top: 0;
    padding-top: 10px;
}

#magnifier{
    background-color:#fdfcf7; 
    border-width: 0.5px; 
    border-radius: 20%;
    width: 35px; 
    height: 35px; 
    border-color: lightgray;
}


